.wtq-sidebar-overlay {
  opacity: 0;
  background-color: #00000035;
}

.wtq-sidebar-overlay.wtq-show {
  position: absolute;
  inset: 0;
  opacity: 1;
  z-index: 1;
}

.wtq-sidebar {
  --collapse-item-padding: 5px 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  min-height: calc(100vh - 50px);
  position: sticky;
  inset: 0;
  width: 250px;
  padding: 5px;
  flex-shrink: 0;
  border-inline-end: solid 1px hsl(var(--darkest), 0.1);
  @media screen and (width <= 868px) {
    --collapse-item-padding: 8px 1rem;

    position: absolute;
    z-index: 1;
    transform: translateX(-100%);
    width: 70%;
    height: 100vh;

    background-color: hsl(var(--white), 1);
    .wtq-collapse-button {
      display: none;
    }

    &.wtq-show {
      transform: translateX(0%);
    }
  }

  @media screen and (width >= 868px) {
    &.wtq-aside-collapse {
      width: 50px;
      overflow: hidden;
      flex-direction: row;
      .wtq-collapse-button {
        transform: scale(-1);
        padding: 5px 0.3rem;
      }
      ul {
        display: none;
      }
    }
  }
  ul {
    padding: 0px;
    list-style: none;
    white-space: nowrap;
  }
}

.wtq-sidebar-category {
  overflow-y: auto;
  margin-top: 15px;
}

.wtq-category-toggle {
  justify-content: space-between;

  width: 100%;
  padding: var(--collapse-item-padding);

  color: hsl(var(--darkest));

  .wtq-arrow-icon {
    transform: rotate(90deg); 
  }
}

.wtq-active {
  .wtq-arrow-icon {
    transform: rotate(-90deg);
  }
}

.wtq-category-collapse {
  display: grid;
  will-change: grid-template-rows;
  grid-template-rows: 0fr;
  &.wtq-active {
    grid-template-rows: 1fr;
  }
}

.wtq-collapse-item {
  will-change: overflow;
  overflow: hidden;
  padding-inline-start: 0.6rem;
}

.wtq-collapse_item--link {
  display: block;

  padding: var(--collapse-item-padding);

  font-weight: 400;
  color: hsl(var(--dark));
}

.wtq-category-collapse,
.wtq-category-toggle {
  user-select: none;

  font-size: 0.875rem;
  font-weight: 600;

  background-color: transparent;
  border: 0;
}

.wtq-collapse-button {
  justify-content: center;

  width: 100%;
  margin-bottom: 10px;
  padding: 5px 0.6rem;

  background-color: transparent;
  border: 0;
}