.wtq-avatar-container {
  gap: 10px;

  div {
    line-height: 1.2;
    @media screen and (width <= 868px) {
      display: none;
    }
  }
}

.wtq-avatar {
  border-radius: 50%;

  @media screen and (width <= 868px) {
    width: 40px;
    height: auto;
  }
}

// .wtq-avatar-name {
//   margin: 0;
//   font-size: 0.9rem;
//   font-weight: 500;
//   color: hsl(var(--darkest));
// }

// .wtq-avatar-role {
//   margin: 0;

//   font-size: 0.8rem;
//   font-weight: 300;
//   color: hsl(var(--dark));
//   letter-spacing: 0.5pt;
// }