
.wtq-card-container-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.3rem;
  margin-top: 30px;
}

.wtq-card {
  padding: 25px;
  background-color: hsl(var(--white));
  border: 1px solid hsl(var(--light), 0.5);
  border-radius: calc(var(--radius) * 2);
  .dark & {
    background-color: hsl(var(--light), 0.3) ;
    border-color: hsl(var(--lightest));
  }

  &:hover {
    transform: translateY(-5px);
  }

  .wtq-card-title {
    margin: 0;

    font-size: var(--font-lg);
    font-weight: 600;
    line-height: 1.5;
    color: hsl(var(--darkest));
  }

  .wtq-card-subtitle {
    margin: 0;
    font-size: var(--font-xs);
    font-weight: 400;
    color: hsl(var(--dark));
  }
}