@import "./base/default";
@import "./components/navbar";
@import "./components/breadcrumbs";
@import "./components/sidebar";
@import "./components/avatar";
@import "./pages/code";
@import "utils/utils";

#skip {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  &:focus-visible {
    overflow: visible;
    clip: auto;
    z-index: 9999;
    margin: 0.75rem;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid hsl(var(--light));
    border-radius: var(--radius);
    box-shadow: 0 10px 9px -8px rgb(0 0 0 / 10%);

    .dark & {
      background-color: hsl(var(--lightest));
      border: 1px solid hsl(var(--light));
    }
  }
}


.wtq-page {
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
  display: flex;
  height: 100%;
}

.wtq-container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 15px;
}

.wtq-navigation-container {
  justify-content: space-between;
}

.wtq-nav-menu {
  display: none;
  @media screen and (width <= 868px) {
    background-color: transparent;
    gap: 0.5rem;
    padding: 6px 10px;
    font-size: 0.8rem;
    border: 0;
  }
}

.wtq-main-heading {
  margin-top: 10px !important;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.wtq-content {
  width: 100%;
  padding-bottom: 40px;
}

.wtq-search {
  position: relative;
  &:focus-within {
    .wtq-search-content:not(:empty) {
      display: grid;
      gap: 2px;
      list-style: none;
      width: 100%;
      position: absolute;
      background-color: hsl(var(--white));
      border: 1px solid hsl(var(--light));
      padding: 5px;
      margin-top: 4px;
    }
  }
}

#search {
  border: 1px solid hsl(var(--light));
  padding: 6px 30px;
  outline: none;
  width: 100%;
}

.wtq-search-icon {
  position: absolute;
  top: 0;
  height: 15px;
  margin-block: 10px;
  color: hsl(var(--dark));
}

.wtq-search-content {
  display: none;
  a {
    display: inline-block;
    width: 100%;
    padding: 0.9rem !important;
  }
}
