.wtq-post-container {
  display: grid;
  grid-template-columns: minmax(0, 692px);
  gap: 1rem;
  justify-content: center;

  margin-top: 30px;
}

.wtq-post-head {
  flex-direction: column;
  gap: 1rem;
}

.wtq-cover {
  margin-inline: auto;
  border: 1px solid hsl(var(--light), 0.5);
}

.wtq-pagination {
  justify-content: space-between;
}

.wtq-pagination__link {
  margin-top: 1rem;
  justify-content: space-between;
}

.wtq-first-arrow {
  transform: scaleX(-1);
}