.wtq-breadcrumbs {
  user-select: none;
  margin-block: 20px;
  padding: 0;

  font-weight: 300;
  color: hsl(var(--dark));
  list-style: none;

  .wtq-breadcrumb {
    justify-content: center;
    gap: 5px;
    white-space: nowrap;
    padding: 6px 10px;

    font-size: 16px;
  }

  @media screen and (width <= 868px) {
    li:not(.wtq-base-breadcrumb) {
      display: none;
    }
  }
}

.wtq-navigation-container {
  justify-content: space-between;
}

.wtq-nav-menu {
  display: none;
  @media screen and (width <= 868px) {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 0.5rem;
    padding: 6px 10px;
    font-size: 0.8rem;
    border: 0;
  }
}